{#
    Jaime
    Greetik Soluciones SL
    view the detail of a gpx
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.title }} - Gpx - {% endblock %}
{% set titlecontent = 'Módulo' %}
{% set subtitlecontent = 'Edite los datos de '~item.title ~' desde aquí' %}
{% set breadcrumb = [{'title': 'Mapa', 'link': path('gmap_viewmap', {'idproject':item.project}), 'icon': 'map-marker'}, {'title': item.title , 'link': path('gmap_viewgpx', {'id':item.id}), 'icon': 'map-marker'}] %}

{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Post</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-9 profile-info">
                                        {% include "GmapBundle:Default:viewgpx.html.twig" %}
                                    </div>
                                    <!--end col-md-9-->

                                    <div class="col-md-3">
                                        <div class="portlet sale-summary">
                                            <div class="portlet-title">
                                                <div class="caption"> - </div>
                                                <!--<div class="tools">
                                                   <a class="reload" href="javascript:;"></a>
                                                </div>-->
                                            </div>
                                            <div class="portlet-body">
                                                <ul class="list-unstyled">

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                </div>
                                <!--end row-->

                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="fa fa-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {%
                                set configForm = {
                                    'id' : 'modifygpx',
                                    'pathaction': path('gmap_modifygpx', { 'id': item.id }),
                                    'pathcancel': path('gmap_viewmap', {'idproject': item.project})
                                }
                                            %}


                                            {% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
                                                {% block formcontent %}
                                                    {% if form_errors(new_form) %}
                                                        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
                                                    {% endif %}

                                                    {% include "GmapBundle:Default:insertgpxform.html.twig" %}

                                                    {{ form_widget(new_form._token) }}

                                                {% endblock %}                    
                                            {% endembed %}

                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

