{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nuevo Marcador en {{ 'Mapa' }} - {% endblock %}
{% set titlecontent = 'Nuevo Marcador en Mapa' %}
{% set subtitlecontent = 'Rellene los campos para insertar un marcador '%}
{% set breadcrumb = [{'title': 'Mapa', 'link': path('gmap_viewmap', {'idproject':idproject}), 'icon': 'map-marker'}, {'title': 'Nuevo', 'link': path('gmap_insertmarker', {'idproject':idproject}), 'icon': 'map-marker'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}


{% block maincontent %}
{% include "GmapBundle:Default:insertmarker.html.twig" %}  
{% endblock %}         
