

{% set configField = { 'label': 'Título', 'field': 'title'} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Cuerpo', 'field': 'body' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Color', 'field': 'color', 'classesinput':'colorpicker' }  %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{# set configField = { 'label': 'Sección Externa', 'field': 'externalid', 'classesinput':'select2' }  %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' #}




{% set idfield = 'marker_body' %}
{% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    

{% set fieldstoselect = '.select2' %}
{% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}        
{% set fieldstocolor = '.colorpicker' %}
{% include 'BEInterfaceBundle:_Scripts:color.html.twig' %}        
