{%
    set configForm = {
        'id' : 'insertmarker',
        'pathaction': path('gmap_insertmarker', {'idproject':idproject}),
        'pathcancel': path('gmap_viewmap', {'idproject':idproject}),
        'title': 'Marker',
        'icon': 'map-marker'
    }
%}
{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}        
        {% include "GmapBundle:Default:insertmarkerform.html.twig" %}  
        {{ form_widget(new_form._token) }}
    {% endblock %}                    
{% endembed %}