{%
            set configForm = {
                'id' : 'insertgpx',
                'pathaction': path('gmap_insertgpx', {'idproject':idproject}),
                'pathcancel': path('gmap_viewmap', {'idproject':idproject}),
                'title': 'Gpx',
                'icon': 'map-marker'
            }
%}
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/beinterface/css/pages/profile.css') }} ">
        
{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}

        
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}

        {% include "GmapBundle:Default:insertgpxform.html.twig" %}


        {{ form_widget(new_form._token) }}

    {% endblock %}                    
{% endembed %}