{% set configField = { 'label': 'Título', 'field': 'title'} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Inicio', 'field': 'start' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Fin', 'field': 'end' }  %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% if configForm.id == "insertgpx" %}
    <div class="margin-top-10 fileupload fileupload-new" data-provides="fileupload" >
        {% set configField = { 'label': 'Nombre del fichero', 'field': 'filename', 'classesinput':'default' }  %}
        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}
    </div>
{% endif %}