{% set break=0 %}
{% for field in new_form %}
    {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
{% endfor %}
{% if form_errors(new_form) %}<div class="alert alert-danger">{{ form_errors(new_form) }}</div>{% endif %}
{% include('BEInterfaceBundle:_Default:errorfromflash.html.twig') %}
<h1>{{ item.title }}</h1>                                   
<div class="btn-group">
    {%set pathdelete= path('gmap_deletegpx', {'id': item.id })%}
    {% set id = item.id %}
    {% include('BEInterfaceBundle:_Scripts:deleteAny.html.twig') %}
    <div class="clearfix"></div>
</div>                            
<p>&nbsp;</p>